apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs
  volumeName: nfs-pv-minio
  resources:
    requests:
      storage: 1Gi
---