apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs
  volumeName: nfs-pv-postgres
  resources:
    requests:
      storage: 1Gi